<a href="https://colab.research.google.com/github/Addy0000/Data_analysis_projects/blob/main/fittlyf_assign.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_excel("assignment.xlsx")
df.head(5)

   Year  Month  Segment Region           KPI Value Type    Value
0  2020     12  Clients  India  Lv1_Visitors    Actuals  3665558
1  2020     12  Clients  India  Lv2_Visitors    Actuals  2689569
2  2020     12  Clients  India  Lv3_Visitors    Actuals  1300571
3  2020     12  Clients  India  Lv4_Visitors    Actuals   717608
4  2020     12  Clients  India  Lv3_Visitors    Actuals   706677

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1572 entries, 0 to 1571
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        1572 non-null   int64
 1   Month       1572 non-null   int64
 2   Segment     1572 non-null   object
 3   Region      1572 non-null   object
 4   KPI         1572 non-null   object
 5   Value Type  1572 non-null   object
 6   Value       1572 non-null   int64
dtypes: int64(3), object(4)
memory usage: 86.1+ KB